<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Navbar - Start -->
    <nav>
        <h1 class="about text-color">Müzik Dükkanım</h1>
        <ul class="about">
            <li class="center-position">
                <a href="index.html">AnaSayfa</a>

            </li>
            <li class="center-position">

                <a href="products.html">Ürünlerimiz</a>

            </li>
            <li class="center-position">

                <a href="about-us.html">Hakkımızda</a>
            </li>
        </ul>
    </nav>
    <!-- Navbar - End -->
    <!-- Content - Start -->
    <section>
        <!-- Articles Start -->
        <article>
            <h2 class="about main-color">Ana Sayfa</h2>
            <p class="p-about">Müzik Dükkanıma Hoşgeldiniz. Bu Sitede çeşitli müzik aletlerini bulabilirsiniz. Uygun
                fiyatlarımız ve kalitelerimiz için <a href="products.html">Ürünlerimiz</a> sayfasını ziyaret
                edebilirsiniz</p>
        </article>
        <article>
            <h2 class="about" style="color:rgb(177, 177, 18)">Sitemizde bulunan müzik aletleri</h2>
            <ul>
                <li class="li-position about">Gitar</li>
                <li class="li-position about">Davul</li>
                <li class="li-position about">Piyano</li>
                <li class="li-position about">Keman</li>

            </ul>
        </article>
        <!-- Articles - End -->
    </section>
</body>

</html>