<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Urunlerimiz</title>
</head>

<body>
    <!-- Navbar - Start -->
    <nav>
        <h1 class="about text-color">Müzik Dükkanım</h1>
        <ul class="about">
            <li class="center-position">
                <a href="index.html">AnaSayfa</a>

            </li>
            <li class="center-position">

                <a href="products.html">Ürünlerimiz</a>

            </li>
            <li class="center-position">

                <a href="about-us.html">Hakkımızda</a>
            </li>
        </ul>
    </nav>
    <!-- Navbar - End -->
    <!-- Content - Start -->
    <section>
        <!-- Articles - Start -->
        <article>
            <h2 class="p-about main-color">Ürünlerimiz</h2>
        </article>
        <article>
            <ol class="centered-list">
                <li>
                    <img width="250" src="../img/gitarVc204.jpg" alt="Gitar vc 204">
                </li>
                <p>Gitar vc 204 <strong> 1950 ₺</strong> </p>
                <li>
                    <img width="250" src="../img/gitarXe25bk.jpg" alt="Gitar Xe25bk">
                </li>
                <p>Gitar xe25bk <strong> 1500 ₺</strong></p>

                <li>
                    <img width="250" src="../img/gitarLC3900.jpg" alt="Gitar LC3900">
                </li>
                <p>Gitar LC3900 <strong>1750 ₺</strong></p>
                <li>
                    <img width="250" src="../img/asmaDavulDeri.jpg" alt="Asma Davul Deri">
                </li>
                <p>Asma Davul Plastik Deri <strong>1100 ₺</strong></p>
                <li>
                    <img width="250" src="../img/cocukDavulu.jpg" alt="Çocuk Davulu">
                </li>
                <p>Çocuk Davulu <strong>678.90 ₺</strong></p>
                <li>
                    <img width="250" src="../img/casioPiyano.jpg" alt="Casio Piyano">
                </li>
                <p>Casio Piyano <strong>2500 ₺</strong></p>
                <li>
                    <img width="250" src="../img/yamahaPiyano.jpg" alt="Yamaha CFX Piyano">
                </li>
                <p>Yamaha CFX Akustik Tam Kuyruklu Piyano (Parlak Siyah) <strong>2650 ₺</strong></p>
                <li>
                    <img width="250" src="../img/kemanCarlovy.jpg" alt="Keman Carlovy">
                </li>
                <p>Carlovy VLA6 - 4/4 Keman <strong>2350 ₺</strong></p>
            </ol>
        </article>
    </section>
    <!-- Content - End -->
</body>

</html>